.page.theme_light {
  --heading-color: #ffc2e6;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --text-bg-color: #ff8dcb;

  background-color: var(--bg-color);
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .title {
  color: var(--heading-color);
}

.page.theme_light .frame::after,
.page.theme_light .frame::before {
  border-color: var(--text-color);
}

.page.theme_light .second-subtitle,
.page.theme_light .subtitle {
  background-color: var(--text-bg-color);
}

.page.theme_light .text-shadow {
  text-shadow: 2px 2px 0 var(--text-bg-color);
}
