@font-face {
  font-family: 'IBM Plex mono';
  src: url('./ibmplexmono-regular.eot');
  src: url('./ibmplexmono-regular.eot?#iefix') format('embedded-opentype'),
    url('./ibmplexmono-regular.woff2') format('woff2'),
    url('./ibmplexmono-regular.woff') format('woff'),
    url('./ibmplexmono-regular.ttf') format('truetype'),
    url('./ibmplexmono-regular.svg#ibm_plex_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url('./ibmplexmono-bold.eot');
  src: url('./ibmplexmono-bold.eot?#iefix') format('embedded-opentype'),
    url('./ibmplexmono-bold.woff2') format('woff2'),
    url('./ibmplexmono-bold.woff') format('woff'),
    url('./ibmplexmono-bold.ttf') format('truetype'),
    url('./ibmplexmono-bold.svg#ibm_plex_monobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
